In [2]:
import pandas as pd

In [17]:
acc_x = pd.read_csv('total_acc_x_train.txt', header= None,  delim_whitespace=True )[:1]

acc_y = pd.read_csv('total_acc_y_train.txt', header= None,  delim_whitespace=True )[:1]

acc_z = pd.read_csv('total_acc_z_train.txt', header= None,  delim_whitespace=True )[:1]

In [ ]:
acc = pd.DataFrame(columns = ['X','Y','Z'])

acc[['X']] = acc_x.T
acc[['Y']] = acc_y.T
acc[['Z']] = acc_z.T

acc.to_csv('ACC_TEST.csv', index = None)

In [24]:
gyro_x = pd.read_csv('body_gyro_x_train.txt', header= None,  delim_whitespace=True )[:1]

gyro_y = pd.read_csv('body_gyro_y_train.txt', header= None,  delim_whitespace=True )[:1]

gyro_z = pd.read_csv('body_gyro_z_train.txt', header= None,  delim_whitespace=True )[:1]

In [ ]:
gyro = pd.DataFrame(columns = ['X','Y','Z'])

gyro[['X']] = gyro_x.T
gyro[['Y']] = gyro_y.T
gyro[['Z']] = gyro_z.T

gyro.to_csv('GYRO_TEST.csv', index = None)

In [25]:
acc

            X         Y         Z
0    1.012817 -0.123217  0.102934
1    1.022833 -0.126876  0.105687
2    1.022028 -0.124004  0.102102
3    1.017877 -0.124928  0.106553
4    1.023680 -0.125767  0.102814
..        ...       ...       ...
123  1.019815 -0.127010  0.094843
124  1.019290 -0.126185  0.098350
125  1.018445 -0.124070  0.100385
126  1.019372 -0.122745  0.099874
127  1.021171 -0.121326  0.094987

[128 rows x 3 columns]

In [6]:
X_train_fex = pd.read_csv("../X_train.txt", delim_whitespace=True, header=None)

In [7]:
X_train_fex

,0,1,2,3,4,5,6,7,8,9,...,551,552,553,554,555,556,557,558,559,560
0,0.288585,-0.020294,-0.132905,-0.995279,-0.983111,-0.913526,-0.995112,-0.983185,-0.923527,-0.934724,...,-0.074323,-0.298676,-0.710304,-0.112754,0.030400,-0.464761,-0.018446,-0.841247,0.179941,-0.058627
1,0.278419,-0.016411,-0.123520,-0.998245,-0.975300,-0.960322,-0.998807,-0.974914,-0.957686,-0.943068,...,0.158075,-0.595051,-0.861499,0.053477,-0.007435,-0.732626,0.703511,-0.844788,0.180289,-0.054317
2,0.279653,-0.019467,-0.113462,-0.995380,-0.967187,-0.978944,-0.996520,-0.963668,-0.977469,-0.938692,...,0.414503,-0.390748,-0.760104,-0.118559,0.177899,0.100699,0.808529,-0.848933,0.180637,-0.049118
3,0.279174,-0.026201,-0.123283,-0.996091,-0.983403,-0.990675,-0.997099,-0.982750,-0.989302,-0.938692,...,0.404573,-0.117290,-0.482845,-0.036788,-0.012892,0.640011,-0.485366,-0.848649,0.181935,-0.047663
4,0.276629,-0.016570,-0.115362,-0.998139,-0.980817,-0.990482,-0.998321,-0.979672,-0.990441,-0.942469,...,0.087753,-0.351471,-0.699205,0.123320,0.122542,0.693578,-0.615971,-0.847865,0.185151,-0.043892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7347,0.299665,-0.057193,-0.181233,-0.195387,0.039905,0.077078,-0.282301,0.043616,0.060410,0.210795,...,-0.070157,-0.588433,-0.880324,-0.190437,0.829718,0.206972,-0.425619,-0.791883,0.238604,0.049819
7348,0.273853,-0.007749,-0.147468,-0.235309,0.004816,0.059280,-0.322552,-0.029456,0.080585,0.117440,...,0.165259,-0.390738,-0.680744,0.064907,0.875679,-0.879033,0.400219,-0.771840,0.252676,0.050053
7349,0.273387,-0.017011,-0.045022,-0.218218,-0.103822,0.274533,-0.304515,-0.098913,0.332584,0.043999,...,0.195034,0.025145,-0.304029,0.052806,-0.266724,0.864404,0.701169,-0.779133,0.249145,0.040811
7350,0.289654,-0.018843,-0.158281,-0.219139,-0.111412,0.268893,-0.310487,-0.068200,0.319473,0.101702,...,0.013865,0.063907,-0.344314,-0.101360,0.700740,0.936674,-0.589479,-0.785181,0.246432,0.025339
7351,0.351503,-0.012423,-0.203867,-0.269270,-0.087212,0.177404,-0.377404,-0.038678,0.229430,0.269013,...,-0.058402,-0.387052,-0.740738,-0.280088,-0.007739,-0.056088,-0.616956,-0.783267,0.246809,0.036695

In [64]:
acc_x = pd.read_csv('total_acc_x_train.txt', header= None,  delim_whitespace=True )
acc_x = acc_x.T

In [100]:
acc_x_new = pd.DataFrame(columns = ['X'])

In [101]:
acc_x.shape

(128, 7352)

In [102]:
for i in range(acc_x.shape[1]):
    df = pd.DataFrame(acc_x.iloc[:,i].values, columns = ['X'])
    acc_x_new = pd.concat([acc_x_new,df])

In [103]:
acc_x_new.shape

(941056, 1)

In [129]:
acc_x_new = acc_x_new.reset_index()
acc_x_new.drop(columns = ['index'],inplace = True)

In [130]:
acc_x_new

               X
0       1.012817
1       1.022833
2       1.022028
3       1.017877
4       1.023680
...          ...
941051  0.991497
941052  0.945067
941053  0.898095
941054  0.828372
941055  0.800243

[941056 rows x 1 columns]

In [124]:
acc_y = pd.read_csv('total_acc_y_train.txt', header= None,  delim_whitespace=True )
acc_y = acc_y.T

acc_y_new = pd.DataFrame(columns = ['Y'])

In [125]:
for i in range(acc_y.shape[1]):
    df = pd.DataFrame(acc_y.iloc[:,i].values, columns = ['Y'])
    acc_y_new = pd.concat([acc_y_new,df])

In [126]:
acc_y_new = acc_y_new.reset_index()
acc_y_new

        index         Y
0           0 -0.123217
1           1 -0.126876
2           2 -0.124004
3           3 -0.124928
4           4 -0.125767
...       ...       ...
941051    123 -0.486260
941052    124 -0.453405
941053    125 -0.397775
941054    126 -0.349247
941055    127 -0.332372

[941056 rows x 2 columns]

In [128]:
acc_y_new.drop(columns = ['index'],inplace = True)

In [111]:
acc_z = pd.read_csv('total_acc_z_train.txt', header= None,  delim_whitespace=True )
acc_z = acc_z.T

acc_z_new = pd.DataFrame(columns = ['Z'])

In [112]:
for i in range(acc_z.shape[1]):
    df = pd.DataFrame(acc_z.iloc[:,i].values, columns = ['Z'])
    acc_z_new = pd.concat([acc_z_new,df])

In [114]:
acc_z_new = acc_z_new.reset_index()
acc_z_new.drop(columns = ['index'], inplace = True)

In [136]:
acc_all = pd.concat([acc_x_new,acc_y_new,acc_z_new],axis = 1)

In [137]:
acc_all.to_csv('Acc_all.csv', index = None)

# GYROSCOPE

In [141]:
def parser(name, feature):
    gyro = pd.read_csv(name, header= None,  delim_whitespace=True )
    gyro = gyro.T

    gyro_new = pd.DataFrame(columns = [feature])
    
    for i in range(gyro.shape[1]):
        df = pd.DataFrame(gyro.iloc[:,i].values, columns = [feature])
        gyro_new = pd.concat([gyro_new,df])
        
    gyro_new = gyro_new.reset_index()
    gyro_new.drop(columns = ['index'], inplace = True)
    return gyro_new

In [143]:
gyro_x = parser('body_gyro_x_train.txt', 'X')

In [145]:
gyro_y = parser('body_gyro_y_train.txt', 'Y')

In [146]:
gyro_z = parser('body_gyro_z_train.txt', 'Z')

In [147]:
gyro_all = pd.concat([gyro_x, gyro_y, gyro_z],axis = 1)
gyro_all

               X         Y         Z
0       0.030191  0.066014  0.022859
1       0.043711  0.042699  0.010316
2       0.035688  0.074850  0.013250
3       0.040402  0.057320  0.017751
4       0.047097  0.052343  0.002553
...          ...       ...       ...
941051  0.973228  1.083094 -0.226884
941052  1.004266  1.187832 -0.313591
941053  1.004855  1.156645 -0.362512
941054  1.015589  1.100750 -0.383989
941055  1.047599  1.011324 -0.335884

[941056 rows x 3 columns]

In [149]:
gyro_all.to_csv('Gyro_all.csv', index = None)